@charset "utf-8";
.advSearchPic{ width: 1200px; height: 168px; background: url(../images/advSearch_bg.gif) no-repeat;}
.advSearchfeild{  width: 532px; min-height: 750px; margin: 0 auto;}
.keys_t{  padding: 20px 0 14px 0;}
.keysforsearch{ width: 510px; height: 46px; line-height: 46px; background: #fff; border: 1px solid #d5e0ee; padding-left: 18px; margin-bottom: 8px; color: #919191;}
.searchfeild{ width: 420px; margin: 30px auto 0; }
select{ width: 305px; height: 30px; background: #fff; border: 1px solid #e1e1e1; padding-left: 5px;}
.searchfeild label{ float: left; text-align: right; width: 95px; line-height: 32px;}
.searchfeild select{ float: right;}
.area,.city{ width: 147px;}
.city{ margin-left: 14px;}
.search_btngroup{ text-align: center; margin-top: 58px;}
.search_btngroup a{ width: 230px; height: 40px; background: #4cbbff; border-radius: 3px; color: #fff; text-align: center; line-height: 40px; display: inline-block;}
.search_btngroup a.empty_search{ background: #45cad3; margin-left: 20px;}
.search_btngroup a.immedia_search:hover{ background: #41a1db;}
.search_btngroup a.empty_search:hover{ background: #3cafb7;}





