@charset "utf-8";
/* CSS Document */
/*------基础部分------*/
body {
  font-size: 16px;
  line-height: 20px;
  font-family: 'STHeiti', 'Microsoft YaHei', '宋体', 'Verdana';
  color: #6f6f6f;
  background: #edf2f6;
  min-width: 1200px;
}
a {
  color: #689fd3;
  text-decoration: none;
}
html,
body {
  height: 100%;
}
/*------公共部分------*/
/*---header样式begin---*/
.header_out {
  width: 100%;
  height: 70px;
  background: #374052;
  line-height: 70px;
}
.header {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  position: relative;
}
.logo {
  float: left;
  width: 287px;
  height: 70px;
  margin: 0 30px 0 15px;
  background: url(../images/logo.png) no-repeat left center;
  font-size: 0;
}
.nav {
  height: 70px;
  float: left;
}
.nav li {
  float: left;
  margin-right: 62px;
}
.nav li.cur {
  background: #2a3342;
}
.nav li a {
  color: #fff;
  padding: 0 60px;
  float: left;
}
.nav li.cur a {
  color: #45cad3;
}
.user_center {
  float: right;
  height: 70px;
  background: url(../images/form_icon.png) no-repeat -20px -5px;
  padding-left: 55px;
}
.logout {
  width: 67px;
  height: 32px;
  background: url(../images/logout_bg.png) no-repeat;
  position: absolute;
  color: #689fd3;
  right: 49px;
  bottom: -26px;
  text-align: center;
  line-height: 35px;
  z-index: 999;
}
/*---header样式end---*/
/*---menu样式begin---*/
.leftmenu {
  position: relative;
  z-index: 10;
  width: 128px;
  float: left;
}
.back_btn {
  width: 108px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  display: block;
  background: #698eb3 url(../images/icon_menu.png) no-repeat 12px 13px;
  padding-left: 20px;
}
.back_btn:hover {
  color: #9acdff;
  background: #698eb3 url(../images/icon_menu.png) no-repeat 12px -27px;
}
.menulist {
  width: 124px;
  padding-left: 4px;
}
.menulist li {
  width: 124px;
  height: 81px;
  text-align: center;
}
.menulist li.cur {
  background: #edf2f6;
}
.menulist li a {
  display: inline-block;
  width: 76px;
  height: 80px;
  padding: 0 24px;
  position: relative;
}
.menulist li i {
  display: inline-block;
  width: 76px;
  height: 28px;
  margin-top: 14px;
  padding-top: 38px;
  border-bottom: 1px solid #98a4ac;
  color: #4d7092;
}
.icon {
  background: url(../images/icon_menu.png) no-repeat;
}
.icon_trsness {
  background-position: center -80px;
}
.icon_identfile {
  background-position: -4px -156px;
}
.icon_capatii {
  background-position: -3px -240px;
}
.icon_sovency {
  background-position: -3px -320px;
}
.icon_history {
  background-position: center -400px;
}
.icon_collecinfo {
  background-position: center -480px;
}
.icon_dynamic {
  background-position: center -560px;
}
.menulist li i.icon_news {
  width: 11px;
  height: 11px;
  display: inline-block;
  background-position: center -640px;
  position: absolute;
  right: 30px;
  top: 10px;
  margin: 0;
  padding: 0;
}
.menulist li i.nobm {
  border: 0;
}
/*---menu样式end---*/
/*---样式begin---*/
.content {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.two_column {
  position: relative;
}
.two_column:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 128px;
  height: 100%;
  background: #c5cbcf;
}
.two_column_other {
  position: relative;
}
.two_column_other:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: #dfe7ee;
}
.color_blue {
  color: #689fd3;
}
.r_content {
  width: 1030px;
  float: right;
  padding-top: 32px;
}
.top_feild {
  width: 940px;
  height: 70px;
  background: #fff;
  border: 1px solid #b9cddd;
  line-height: 70px;
  padding: 0 48px 0 40px;
}
.t_name {
  float: left;
  font-size: 18px;
  margin-right: 15px;
}
.t_id {
  float: left;
}
.a_optn {
  width: 112px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 5px;
  float: right;
  margin-top: 17px;
}
.a_atten {
  background: #45cad3;
  color: #fff;
}
.a_atten:hover {
  background: #3cafb7;
}
.a_cancel_atten {
  background: #cfeff1;
  color: #2cb4bd;
}
.a_cancel_atten:hover {
  background: #87e1e7;
}
/*---样式end---*/
/*---分页样式begin---*/
.pages_wrap {
  width: 960px;
  float: right;
}
.pages {
  margin-top: 48px;
  width: 500px;
  height: 32px;
  margin: 48px auto;
}
.pages a {
  display: inline-block;
}
.prev_btn,
.unsable_pre {
  width: 40px;
  height: 32px;
  background: url(../images/form_icon.png) no-repeat -20px -484px !important;
  float: left;
  margin-right: 3px;
}
.prev_btn:hover,
.usable_pre {
  background-position: -20px -526px;
}
.next_btn,
.unsable_next {
  width: 40px;
  height: 32px;
  background: url(../images/form_icon.png) no-repeat -80px -526px;
  float: left;
}
.next_btn:hover,
.usable_next {
  background-position: -80px -484px;
}
.pages_num {
  float: left;
}
.pages_num li {
  float: left;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin-right: 3px;
}
.pages_num li a {
  display: inline-block;
  width: 100%;
  color: #fff;
  background: #9bb9d5;
}
.pages_num li.cur a,
.pages_num li a:hover {
  background: #4cbbff;
}
.gonum {
  float: right;
}
.gonum_input {
  width: 50px;
  height: 30px;
  background: #fff;
  border: 1px solid #c5cbcf;
  margin-left: 10px;
  padding-left: 7px;
}
.gonum_btn {
  width: 35px;
  height: 32px;
  background: #9bb9d5;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
/*---分页样式end---*/
/*---排行table样式begin---*/
table.datatable {
  margin-top: 32px;
  clear: both;
}
table.datatable thead th,
table.datatable thead td {
  border-bottom: 1px solid #b9cddd;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
table.datatable tbody th,
table.datatable tbody td {
  text-align: center;
  height: 52px;
  line-height: 52px;
}
.serial_bg {
  width: 30px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: url(../images/form_icon.png) no-repeat -181px -360px;
  display: inline-block;
}
.even {
  background: #fff;
}
.odd {
  background: #edf2f6;
}
.rest {
  background: #d3e3f2;
}
.levelA {
  color: #34d35d;
}
.levelB {
  color: #00c6ff;
}
.levelC {
  color: #b195e6;
}
.odd_pink {
  background: #ffeeee;
}
.even_pink {
  background: #fcdada;
}
/*---排行table样式end---*/
/*---二级页table样式begin---*/
.enter_info {
  width: 1030px;
  height: auto;
  margin-top: 46px;
}
.tab_info {
  width: 1028;
  height: 54px;
  border: 1px solid #b9cddd;
  line-height: 54px;
}
.tab_info li {
  float: left;
  margin: 0 32px;
  display: inline;
}
.tab_info li a {
  color: #6f6f6f;
  display: inline-block;
  height: 52px;
}
.tab_info li.cur a {
  border-bottom: 2px solid #4cbbff;
  color: #4cbbff;
}
table.infotable {
  width: 1028px;
  border: 1px solid #b9cddd;
}
table.infotable thead th {
  background: #9bb9d5;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
table.infotable tbody td {
  text-align: center;
  height: 52px;
  line-height: 52px;
  border-right: 1px solid #b9cddd;
  position: relative;
}
.icon_certif {
  background: url(../images/icon_certif.png) no-repeat;
  width: 25px;
  height: 21px;
  display: inline-block;
}
.bm_white {
  border-bottom: 1px solid #fff;
}
table.infotable tbody td.br_white {
  border-right: 1px solid #fff;
}
.table_t {
  width: 1026px;
  height: 40px;
  border: 1px solid #b9cddd;
  border-bottom: 0;
  text-align: center;
  line-height: 40px;
}
.assort_name {
  line-height: 36px;
}
.mouth_info {
  width: 820px;
  height: auto;
  padding: 28px 104px 22px 104px;
  border: 1px solid #b9cddd;
}
.score li {
  float: left;
  margin: 0 95px;
  display: inline;
  width: 220px;
  height: 212px;
  background: url("../images/score_bg.png") no-repeat;
  position: relative;
}
.score li p {
  font-size: 34px;
  line-height: 34px;
  position: absolute;
  left: 86px;
  top: 41px;
}
.score li p.non {
  color: #d2d7d5;
  left: 95px;
  top: 39px;
}
.green_p {
  color: #61d7b4;
}
.fen {
  font-size: 16px;
}
.jia {
  position: absolute;
  left: 76px;
  bottom: 48px;
  color: #fff;
  font-size: 18px;
}
.icon_zan {
  width: 25px;
  height: 31px;
  background: url("../images/icon_zan.png") no-repeat 0 0px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -18px;
}
.icon_low {
  width: 25px;
  height: 31px;
  background: url("../images/icon_zan.png") no-repeat 0 -68px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -16px;
}
/*---二级页table样式end---*/
/*---footer样式begin---*/
.footer_out {
  width: 100%;
  height: 84px;
  background: #dae4ec;
  line-height: 84px;
}
.footer {
  width: 1200px;
  height: 84px;
  margin: 0 auto;
}
.footer p {
  float: left;
  color: #5f718d;
}
.links {
  float: right;
}
.links a {
  padding: 0 7px;
  color: #5f718d;
}
.links a.contact {
  border-left: 1px solid #5f718d;
  padding-right: 0px;
}
/*---footer样式end---*/
/*---回到顶部---*/
.fixedtool {
  position: fixed;
  bottom: 10px;
  right: 45px;
  width: 48px;
  height: 48px;
}
.gotop {
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url(../images/stick.png) no-repeat;
  text-align: center;
}
.gotop:hover {
  background: url(../images/stick_hover.png) no-repeat;
}
.dlg {
  position: absolute;
  width: 578px;
  border: 1px solid #C5C5C5;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
}
.dlg_hd {
  margin-bottom: 10px;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
}
.dlg_close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding-right: 20px;
  font-size: 12px;
}
.dlg_close:after {
  content: 'x';
  position: absolute;
  right: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  background: #4A4A4A;
  line-height: 14px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  border-radius: 100px;
}
.dlg_close:hover {
  text-decoration: none;
}
.tabs {
  padding-right: 20px;
  border-bottom: 1px solid #F0F0F0;
  text-align: right;
}
.tabs a {
  margin-bottom: -1px;
  display: inline-block;
  padding: 0 15px;
  line-height: 30px;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  color: #4A90E2;
}
.tabs .selected {
  background: #F0F0F0;
  color: #4A4A4A;
  cursor: default;
}
.tabs .selected:hover {
  text-decoration: none;
}
.dlg_users_list {
  padding: 5px;
}
.dlg_users_list table {
  width: 100%;
  margin-bottom: 20px;
}
.dlg_users_list td {
  text-indent: 20px;
}
.dlg_users_list thead td {
  background: #FAFAFA;
  height: 37px;
  font-size: 14px;
}
.dlg_users_list thead .item_muted {
  color: #C5C5C5;
  font-size: 12px;
}
.dlg_users_list tbody td {
  height: 40px;
  border-bottom: 1px dashed #EAEAEA;
  font-size: 12px;
}
.dlg_users_list tbody .item_stock {
  color: #2478BE;
}
.dlg_users_list tbody .item_profit {
  color: #FF7273;
}
.section {
  margin: 50px 0;
}
.section_hd {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}
.section_bd {
  padding: 10px;
  border-radius: 5px;
  background: #fff;
}
.chart_meta {
  margin: 20px 0 10px 0;
  font-size: 12px;
  text-align: right;
  line-height: 22px;
}
.chart_meta span {
  color: #4A4A4A;
}
.finance_download a,
.chart_download {
  display: inline-block;
  padding-left: 25px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAAXNSR0IArs4c6QAAAjJJREFUOBGtlc9LVFEUx9+93mEUBxxp448wa0oLhdGF4EKIIKEWrl23ai2CJqItQyNau+mfaKGgOONKQbCkhRM1lWIWZDnKi3GY19zeZ2KG63tvUkcvvMe9953zOZd3zvleYf1/iLbRpTtKyR5h6RZMtSX2HKfwdufF/a3isoK/CNq/Mb7YEFahxyElRuqUjPReixZao+FabL9mcsdvtjMy6xTsvKNf5pz83KeZwUMvxwduH1vsj4RDr/uuR+vGHsTqbzdHvD7Fdeqbbc0upH+vf85k7Vx+6Mvs4FqgIZsdk4mBm0+WdWJrX591rH78pbumkll8A8GcFIN3u0dnZZbt8OFAME7A+afdU8kfRK92JFP7GgYs4JIXieKf9scaWVY17nZesWDAAqDcR5D98YexepN4ayJhLivOPzy7V/5GsofnNkbcjeeKOqWkOpv82Tedyt7GxBucCoIFUyop4vG2Bm3YX2hKzdNQUtTolquNteEL0QxnGokuLSbP2L+0qdR/xN7uwXHusoi0PHoinYLe3Nw59LV2tYHQEURKoVLRpyv2+++2rzK8WT8tGPqBOMGkjjUqNTOfnn71KF6uZbPUvAHMb2YwRAkWzGLykD5UKpn6adpZAL1QDIL219IHFgxYJyAICEJSrQghYD4RKkVA+jA4jxghPhzIK5u+aiBqSejRj6BW5yBusi03LxWF3gfGyXs10fKl7qTmKc9zX02AjfHvMnX1hNZnn4ai9k+7TP8CWWIRPI4v6+UAAAAASUVORK5CYII=) no-repeat left center;
  color: #2478BE;
  line-height: 24px;
}
.chart_download {
  margin-left: 60px;
}
.table table {
  width: 100%;
}
.table th,
.table td {
  text-indent: 10px;
}
.table thead th,
.table thead td {
  height: 37px;
  background: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
}
.table tbody td {
  height: 42px;
  border-bottom: 1px dashed #EAEAEA;
  font-size: 14px;
}
.table .item_income {
  color: #50E3C2;
}
.table .item_spend {
  color: #FFAE00;
}
.finance_download {
  margin: 20px 0;
  text-align: right;
}
.finance_download span {
  margin: 0 10px;
  font-size: 15px;
}
.finance_download span:before {
  content: "|";
  margin-right: 20px;
}
.finance_download span:first-child:before {
  display: none;
}
.finance_download a {
  margin-left: 20px;
}
table.cols {
  width: 100%;
  table-layout: fixed;
}
table.cols.cols_3 td {
  width: 33.33%;
}
table.cols.cols_2 td {
  width: 50%;
}
.finance_section {
  padding: 20px;
}
.finance_section_hd {
  font-size: 14px;
  text-align: center;
}
