.concer_cus .leftmenu{ width: 200px;}
.concer_left_t{ width: 106px; height: 48px; line-height: 48px; background: #bdd0e0 url(../images/icon_concer.png) no-repeat 30px 14px; color: #50606e; padding: 0 30px 0 64px;}
.concer_menulist{ width: 140px; height: auto; padding: 0 30px;}
.concer_menulist li{ width: 100%; height: auto; border-bottom: 1px solid #bdd0e0; line-height: 24px; padding: 10px 0;}
.concer_menulist li a:hover{ text-decoration: underline;}
.concer_cus .r_content{ width: 960px; padding-top: 0;}
.concer_right_top{ border: 1px solid #b9cddd;}
.concer_right_t{ height: 44px; line-height: 44px; padding-left: 72px; color: #50606e; border-bottom: 1px solid #b9cddd; background: url("../images/icon_concer.png") no-repeat 36px -33px;}
.sortfeild{ background: #fff; height: 56px; line-height:56px; padding-left: 45px;}
.sortfeild a{ padding: 5px 15px; border-radius: 3px; margin-right: 20px;}
.sortfeild a.cur{ background: #4cbbff; color: #fff;}
.concer_con_list{ }
.concer_con_list li{ margin-top: 3px; border: 1px solid #d7e3ee; padding-left: 45px; background: #fff; padding-right: 22px;}
.concer_con_list li a{ color: #6f6f6f;}
.concer_con_list li a:hover{ color: #689fd3;}
.list_t{ font-size: 18px; padding: 25px 0;}
.list_dl{ float: left;}
.list_dr{ float: right;}


.noconcer .searcharea{ height: 325px; background: url("../images/search_bg_h.png") no-repeat; padding-top: 120px; position: relative;}
.tipsbox{ width: 1200px; margin: 0 auto; height: 60px; line-height: 60px; position: absolute; left: 0; top: 0;}
.tipsbox_bg{ width: 762px; height: 60px; position: absolute; left: 220px; top: 0; background: #000; opacity: 0.2; filter: Alpha(opacity=0.2);}
.tipsbox p{ color: #fff; position: absolute; left: 220px; top: 0; z-index: 1; padding-left: 74px; background: url("../images/icon_concer.png") no-repeat 33px -77px;}














