@charset "utf-8";
.searcharea{ width: 1200px; height: 210px; margin: 0 auto; background: url(../images/search_bg.png); text-align: center; padding-top: 20px;
}
.searcharea h3{ color: #fff; font-size: 20px; line-height: 76px;}
.search_form{ position: relative;}
.search_inputbg{ width: 599px; height: 54px; background: #000; margin: 0 auto; opacity: 0.2;}
.search_wrap{ position: absolute; left: 305px; top: 4px;}
.search_input{ width: 468px; height: 46px; border: 0; float: left; margin-right: 3px; padding-left: 60px; background: #fff url(../images/search_icon.png) no-repeat 14px center; color: #919191;}
.search_btn{ width: 60px; height: 46px; float: left; background: #4cbbff; text-align: center; line-height: 46px; color: #fff; border: 0; cursor: pointer;}
.search_btn:hover{ background: #41a1db;}
.senior{ width: 86px; height: 44px; line-height: 44px; margin-left: 25px; display: inline-block; background: none; border: 1px solid #4cbbff; color: #4cbbff;}
.senior:hover{ background: #4cbbff; color: #fff;}
/*----------------*/
.tabmenu{ width: 1200px; height: 55px; border-bottom: 1px solid #b9cddd;}
.tabmenu ul{ width: 889px; margin: 0 auto;}
.tabmenu li{ float: left; height: 55px; line-height: 55px; padding:0 87px; border-right: 1px solid #b9cddd; text-align: center;}
.tabmenu li a{ padding: 0 26px 16px; color: #6f6f6f;}
.tabmenu li.cur a{ border-bottom: 4px solid #45cad3; color: #45cad3;}
.tabmenu li.nobr{ border-right: 0;}


.circlelist{ width: 1198px; height: 400px; background: #fff; border: 1px solid #d7e3ee; margin-top: 50px; position: relative;}
.circlelist_bg{ position: absolute; left: 0; bottom: -6px; width: 1200px; height: 6px; background: url(../images/circle_bg.png);}
.more{ position: absolute; right: 20px; top: 20px; font-size: 14px;}
.circle_title{ width: 120px; height: 50px; line-height: 50px; text-align: center; color: #fff; margin: -14px 0 0 14px; padding-left: 40px; position: relative; background:#4cbbff url(../images/form_icon.png) no-repeat;}
.icon_pos{ background-position: -4px -71px;}
.icon_ecommerce{ background-position: -165px -160px;}
.icon_selfemploy{ background-position: -4px -250px;}
.icon_p2p{ background-position: -4px -207px;}
.circle_title span{ width: 5px; height: 13px; display: inline-block; position: absolute;}
.earleft{ background:url(../images/form_icon.png) no-repeat -181px -20px; left: -5px; top: 0;}
.earright{ background:url(../images/form_icon.png) no-repeat -191px -20px; right: -5px; top: 0;}
.circle_con{  padding: 23px 20px;}
.circle_detail{ float: left; width: 310px; height: 118px; background: #edf2f6; margin: 13px 30px; display: inline-block; padding: 16px 0 0 16px; position: relative;}
.circle_detail dt{ width: 100%; font-size: 16px; padding-bottom: 12px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.circle_detail dd{ font-size: 14px; line-height: 28px; padding-left: 38px; margin-bottom: 8px; overflow: hidden;}
.circle_detail dd span{ float: left;}
.circle_detail dd a{ float: left; width: 150px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.circle_detail dd a:hover{ text-decoration: underline;}
.more_email{ float: left; width: 29px; height: 16px; background: url("../images/more_email.png") no-repeat; margin-left: 5px; display: inline; cursor: pointer; margin-top: 6px;}
.other_email{ position: absolute; right: 0; top: 86px; width: 182px; height: auto; background:
#fff; border: 1px solid #d7e3ee; padding: 10px; z-index: 99; display: none;}
.other_email a{ float: left; width: 100%; font-size: 14px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.other_email a:hover{ text-decoration: underline;}
.icon_credit{ background: url(../images/form_icon.png) no-repeat -20px -126px;}
.server_provider{ background: url(../images/form_icon.png) no-repeat -178px -82px;}
.icon_store{ background: url(../images/form_icon.png) no-repeat -19px -412px;}
.icon_scope{ background: url(../images/form_icon.png) no-repeat -181px -260px;}
.icon_lend{ background: url(../images/form_icon.png) no-repeat -181px -214px;}
.pingji{ position: relative;}
.pingji i{ position: absolute; right: -5px; top: -4px; width: 81px; height: 72px; background:url(../images/pingji.png) no-repeat;}
.pingji i.pingjiA{ background-position:0 0;}
.pingji i.pingjiB{ background-position:0 -140px;}
.pingji i.pingjiC{ background-position:0 -352px;}
.ranking{ height: 430px; margin-bottom: 60px;}
.ranking_t{ width: 220px; height: 48px; line-height: 48px; padding-left: 92px; color: #fff; margin-top: 15px; position: relative;}
.ranking_t span{ position: absolute;}
.rank_l{ left: -11px; top: 0px; background: url(../images/rank_l.jpg) no-repeat; width: 11px; height: 64px;}
.rank_r{ width: 12px; height: 57px; background: url(../images/rank_r.jpg) no-repeat; right: -12px; top: -9px;}
.icon_ranking{ background:#4cbbff url(../images/form_icon.png) no-repeat 12px -302px;}
i.front{ width: 34px; height: 38px; line-height: 36px; background-position: -20px -360px;}
/*----行业搜索----*/
.industry,.area{ width: 1146px; height: 236px; border: 1px solid #d7e3ee; margin-top: 14px; background: #fff; padding-left: 52px; padding-top: 22px; position: relative;}
.industry_floor span,.area_floor span{ color: #6f6f6f; font-size: 16px; line-height: 30px;}
.industry_floor span.floor1{ color: #45cad3;}
.industry_floor a,.area_floor a{ color: #6f6f6f; font-size: 14px; line-height: 30px; padding-right: 10px;}
.industry_bg,.area_bg{ width: 17px; height: 11px; position: absolute; left: 576px; top: -11px; z-index: 1; background: url(../images/industry_bg.png) no-repeat;}
.area_bg{ left: 880px;}


