@charset "utf-8";
.s_groupwrap{ float: right; overflow: hidden; padding: 22px 0 32px;}
.search_group{ float: left;}
.p2p_name{ width: 220px; height: 34px; line-height: 34px; border: 1px solid #d7e3ee; padding-left: 5px; background:#fff; border-right: 0; float: left;}
.p2ps_btn{ width: 36px; height: 36px; background: url(../images/form_icon.png) no-repeat -174px -478px; margin-right: 40px; border: 1px solid #d7e3ee; border-left: 0; float: left;}
.disp2ps_btn{ background-position: -174px -520px;}
.select_time{ width: 160px; height: 34px; line-height: 34px; background: #fff; border: 1px solid #d7e3ee; margin-right:30px; float: right;}
.icon_star{ width: 82px; height: 15px; background: url(../images/star.png) no-repeat; display: inline-block;}
.icon_star5{ background-position: 0 0;}
.icon_star4{ background-position: 0 -45px;}
.icon_star3{ background-position: 0 -90px;}
.icon_star2{ background-position: 0 -135px;}
.icon_star1{ background-position: 0 -180px;}
.icon_star0{ background-position: 0 -225px;}
.disabled{ background-color:#f6f7f7 !important;}
.det_ranking{ height: auto; padding-bottom: 60px;}
