@charset "utf-8";
.dynamic_list{ width: 1030px; height: auto;}
.dynamic_list li{ width: 1030px; height: auto; margin-top: 30px;}
.d_time_t{ width: 158px; height: 44px; background: #9bb9d5 url(../images/s_titlebg.png) no-repeat right top; color: #fff; line-height: 44px; text-align: center;}
.d_newslist{ width: 960px; height: auto; border: 1px solid #b9cddd; padding: 40px 34px 6px; background: #fff;}
.d_newslist li{ padding-left: 44px; padding-bottom: 34px; line-height: 20px; overflow: hidden; margin-top: 0;}
.news_time{ float: left; margin-right: 24px;}
.news_c{ float: left; color: #6f6f6f;}
.d_newslist li.warn{ background: url(../images/warn.png) no-repeat left top;}

















