@charset "utf-8";
.condition{ width: 1198px; height: 210px; border: 1px solid #d7e3ee; margin-top: 20px; background: #fff; position: relative;}
.condition_bg{ width: 17px; height: 11px; background: url(../images/industry_bg.png) no-repeat 0 -16px; position: absolute; left: 586px; bottom: -11px;}
.condition_t{ line-height: 44px; padding-left: 45px; border-bottom: 1px solid #b9cddd;}
.condition_c{ padding-left: 45px; padding-top: 36px;}
.searchfeild{ width: 310px; float: left; margin-right: 20px;}
select{ width: 215px; height: 30px; background: #fff; border: 1px solid #e1e1e1; padding-left: 5px;}
.searchfeild label{ float: left; text-align: left; width: 95px; line-height: 32px;}
.searchfeild select{ float: left;}
.select_area,.select_city{ width: 147px; margin-right: 20px;}
.choose_area{ float: none; width: 440px; margin-top: 60px;}
.result_all{ width: 1198px; height:auto; margin-top: 30px; border: 1px solid #b9cddd;}
.result_allt{ overflow: hidden; height: 44px;line-height: 44px; padding-left: 45px; padding-right: 22px;}
.keywords{ float: left;}
.amount_num{ float: right;}
.sortfeild{ height: 56px; line-height: 56px; background: #fff; border-top: 1px solid #b9cddd; padding-left: 45px;}
.sortfeild a{ margin: 0 27px; color: #689fd3;}
.sortfeild a.cur{ background: #4cbbff; padding: 4px 8px; color: #fff; border-radius: 4px;}
.icon_sort{ width: 4px; height: 19px; background: url(../images/form_icon.png) no-repeat 0 -9999px; display: inline-block; position: relative; left: 4px; top: 3px; padding-right: 5px;}
.icon_sort_asc {background-position: -181px -440px;}
.icon_sort_desc {background-position: -191px -440px}
.sort_result li{ width: 596px; background: #fff; border: 1px solid #d7e3ee; margin-top: 3px; float: left; margin-right: 3px; position: relative;}
.sort_list{ padding-left: 18px; padding-top: 28px; width: 436px; float: left;}
.sort_list dt{ font-size: 18px; padding-bottom: 18px;}
.sort_list dd{ padding-bottom: 10px; width: 432px;}
.sort_list .trade{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.tag{ position: absolute; right: 0; top: 0; cursor: pointer;}
.sort_list .locate{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.tag li{ width: 70px; height: 32px; background: #edf2f6; line-height: 32px; text-align: center; color: #689fd3; float: left; display: inline; margin: 0 0 0 1px; border: 0;}
.attented{ width: 114px; height: 36px; float: right; border-radius: 5px; background: #cfeff1; text-align: center; line-height: 36px; margin-top: 62px; margin-right: 12px; display: inline;}
.attent{ width: 114px; height: 36px; float: right; border-radius: 5px; background: #45cad3; text-align: center; line-height: 36px; margin-top: 62px; color: #fff; margin-right: 12px; display: inline;}
.attent:hover{ background: #3cafb7;}
.open_win{ position: absolute; right: 0; top: 0; width: 244px; height: auto; background: #f1f5f8; z-index: 99; padding-left: 16px; padding-top: 10px; padding-bottom: 10px; opacity: 0.8; filter:alpha(opacity=80);}
.open_win li{ width: 90%; height: auto; border: none;  margin: 0; padding-right: 15px; font-size: 14px; background: none; background: url(../images/icon_li.gif) no-repeat right center; line-height: 28px; cursor: pointer; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.open_win li a{ color: #969798;}
.open_win li a:hover{ text-decoration: underline;}





